<%-include("../partials/header.ejs")%>
    <!--container-->
    <div class="container">
      <!-- <a href="/employee" class="text-decoration-none"><i class="fa-solid fa-caret-left"></i>Views All Employees</a> -->
      <h1 class="text-center">Create Employee</h1>
      <div class="row justify-content-center">
        <div class="col-5 border border-3 border-secondary py-4 px-3">
          <!--form-->
          <form action="/employee" method="POST" id="form">
            <div class="mb-3 d-flex gap-2">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="employeeName"
                aria-describedby=""
              />
              <label for="phone_number" class="form-label">Phone</label>
              <input
                type="tel"
                class="form-control w-75"
                id="phone_number"
                name="employeePhone"
              />
            </div>
            <div class="mb-3 d-flex gap-2">
              <label for="address" class="form-label">Address</label>
              <input
                type="text"
                class="form-control"
                id="address"
                name="employeeAddr"
                min="0"
              />
            </div>
            <div class="mb-3 d-flex gap-2">

            </div>
            <div class="mb-3 d-flex">
              <div class="">
                <label for="joined_date" class="form-label">Joined Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="joined_date"
                  name="employeeJDate"
                />
              </div>
              <div class="ms-3">
                <label for="DOB" class="form-label">DOB</label>
                <input
                  type="date"
                  class="form-control"
                  id="DOB"
                  name="employeeDOB"
                />
              </div>
              <div class="ms-3">
                <label for="specialty" class="form-label">Specialty</label>
                <input
                  type="text"
                  class="form-control"
                  id="specialty"
                  name="employeeSpecialty"
                />
              </div>
            </div>
            <div class="d-flex gap-2 justify-content-end pt-3">
              <div class="d-grid col-3">
                <button type="submit" id="updateBtn" class="btn btn-success">Create</button>
              </div>
              <div class="d-grid col-3">
                <button type="reset" id="hiddenBtn" class="btn btn-primary">
                  Reset
                </button>
              </div>
              <div class="d-grid col-3">
                <a href="/employee" type="button" class="btn btn-danger">Cancel</a>
              </div>
            </div>
          </form>
          <!--/form-->
        </div>
      </div>
    </div>
    <!--/container-->
<%-include("../partials/footer.ejs")%>