<%-include("../partials/header.ejs")%>
    <!--container-->
    <div class="container">
      <h1 class="text-center">Create Ticket</h1>
      <div class="row justify-content-center">
        <div class="col-5 p-3 border border-3 border-secondary">
          <!--form-->
          <form action="/ticket" method="POST" id="form">
            <div class="mb-3 d-flex gap-2 mt-3">
              <label for="repairType" class="form-label">Repair</label>
              <input
                type="text"
                class="form-control"
                id="repairType"
                name="repairType"
                aria-describedby=""
              />
              <label for="hour" class="form-label">Hours</label>
              <input
                type="number"
                class="form-control w-25"
                id="hour"
                name="repairHours"
                min="0"
                step="0.10"
              />
            </div>
            <div class="mb-3 d-flex gap-2">
              <label for="repairDate" class="form-label">Date</label>
              <input
                type="date"
                class="form-control w-25"
                id="date"
                name="repairDate"
              />
              <label for="cost" class="form-label">Cost</label>
              <input
                type="number"
                class="form-control w-25"
                id="cost"
                name="repairCost"
                min="0"
                step="0.01"
              />
            </div>
            <div class="mb-3">
              <label for="technician" class="form-label pt-2"><h3>Technician:</h3></label>
              <select name="repairTech" id="technician" class="ms-1">
                <option value="">Select Technician</option>
                <%employees.forEach(employee => {%>
                    <option value="<%=employee._id%>"><%=employee.name%></option>
                <%})%>
              </select>
            </div>
            <div class="mb-3">
              <h3 class="text-center">Customer Information</h3>
              <div class="mb-3 d-flex gap-2 py-3">
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="customerName"
                  aria-describedby=""
                />
                <label for="phone_number" class="form-label"
                >Phone</label
              >
              <input
                type="tel"
                class="form-control"
                id="phone_number"
                name="customerPhone"
              />
              </div>
              <div class="mb-3 d-flex gap-2">
                <label for="address" class="form-label">Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  name="customerAddr"
                  min="0"
                />
              </div>
            </div>
            <div class="mb-3">
              <h3 class="text-center">Vehicle Information</h3>
              <div id="vehicleContainer" class="pt-2">
                <div class="col d-flex gap-3 mt-2 flex-wrap edit">
                  <label for="vehicleYear" class="form-label">Year:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="vehicles"
                    name="vehicle"
                    style="flex-basis: 15%"
                  />
                  <label for="vehicleMake" class="form-label">Make:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="vehicles"
                    name="vehicle"
                    style="flex-basis: 50%"
                  />
                  <label for="vehicleModel" class="form-label">Model:</label>
                  <input
                    type="text"
                    class="form-control w-50"
                    id="vehicles"
                    name="vehicle"
                  />
                  <label for="vehicleEngine" class="form-label">Engine:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="vehicles"
                    name="vehicle"
                    style="flex-basis: 15%"
                  />
                  <label for="vehicleMileage" class="form-label"
                    >Mileage:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="vehicles"
                    name="vehicle"
                    style="flex-basis: 20%"
                  />
                  <label for="vehicleVIN" class="form-label">VIN number:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="vehicles"
                    name="vehicle"
                    style="flex-basis: 40%"
                  />
                  <a
                    class="btn btn-danger btn-sm ms-auto deleteVBtn mt-3"
                    type="button"
                    >Delete</a
                  >
                </div>
              </div>
              <div class="my-3">
                <button
                  class="btn btn-primary edit"
                  type="button"
                  id="newVBtn"
                >
                  Add New Vehicle
                </button>
              </div>
            </div>
            <div class="mb-3">
              <label for="parts" class="form-label d-flex justify-content-center"><h3>Parts</h3></label>
              <div id="partContainer">
                <div class="d-flex gap-2 my-2 mb-3">
                  <input
                    type="text"
                    placeholder="Name"
                    class="form-control w-75"
                    id="parts"
                    name="repairParts"
                  />
                  <input
                    type="number"
                    placeholder="Qty"
                    class="form-control w-25"
                    id="parts"
                    name="repairParts"
                  />
                  <button
                  class="btn btn-danger btn-sm ms-1 deleteInputBox"
                  type="button"
                  >
                  Delete
                  </button>
                </div>
              </div>
              <div class="d-flex mt-4">
                <button
                  class="btn btn-primary "
                  id="addInputBox"
                  type="button"
                >
                  New Entry
                </button>
              </div>
            </div>
            <div class="d-flex gap-2 justify-content-end pt-3">
              <div class="d-grid col-3">
                <button type="submit" id="updateBtn" class="btn btn-success">Create</button>
              </div>
              <div class="d-grid col-3">
                <button type="reset" id="hiddenBtn" class="btn btn-danger">
                  Reset
                </button>
              </div>
            </div>
          </form>
          <!--/form-->
        </div>
      </div>
    </div>
    <!--/container-->
<%-include("../partials/footer.ejs")%>
